body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: grayscale(100%);
  /* filter: invert(100%); */
  /* opacity: 0.75; */
}

#cube-div {
  background-color: white;
  height: 100vh;
  filter: invert(100%);
}

#cube-div img {
  height: 80vh;
  width: max-content;
}

#background-div {
  background-color: red;
  color: white;
}

.display-content {
  display: block;
}

.display-none {
  display: none;
}

.display-flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.not-important {
  z-index: -100;
}
