.two-columns {
  width: 100vw;
  /* height: 100vh; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.two-columns-wrapper {
  width: 90vw;
  /* height: 90vh; */
  min-height: 90vh;
  /* background-color: gray; */
}

.two-columns-wrapper p {
  font-size: 16px;
}

.inline {
  display: flex;
}

.inline h1 {
  margin-right: 8px;
  font-size: 40px;
}

.thin {
  font-weight: normal;
}

.projects-row {
  display: flex;
  flex-direction: row;
}

.first-half {
  margin-right: 40px;
}

.first-half a {
  text-decoration: none;
  color: black;
}

.first-half a:hover {
  color: black;
}

.active-year {
  font-weight: bolder;
}
