@media (max-width: 700px) {
  .image-slide1 {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/foto01.jpg');
    opacity: 0.7;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* border: 1px solid red; */
    /* background-position: 50%; */
    /* background-color: gray; */
    /* border: 1px solid red; */
  }

  .image-slide1 p {
    font-size: 16px;
    padding: 4px;
    background-color: rgba(256, 256, 256, 0.3);
    width: fit-content;
  }
}

@media (min-width: 768px) {
  .image-slide1 {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/foto01.jpg');
    background-size: cover;
    background-position-y: -260px;
    opacity: 0.7;
  }

  .image-slide1 div {
    padding: 16px;
  }

  .image-slide1 p {
    font-size: 16px;
    padding: 4px;
    background-color: rgba(256, 256, 256, 0.3);
    width: fit-content;
  }
}

.image-slide1 {
  color: #222;
  font-weight: bold;
}

@media (max-width: 700px) {
  .image-slide2 {
    height: 50vh;
    width: 100vw;
    background-image: url('../assets/foto03.JPG');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    /* background-position-y: center; */
  }

  .image-slide2 p {
    font-size: 16px;
    padding: 4px;
    background-color: rgba(256, 256, 256, 0.3);
    width: fit-content;
  }
}

@media (min-width: 768px) {
  .image-slide2 {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/foto03.JPG');
    background-size: cover;
    background-position-y: -138px;
    opacity: 0.7;
  }

  .image-slide2 div {
    padding: 16px;
  }

  .image-slide2 p {
    font-size: 16px;
    padding: 4px;
    background-color: rgba(256, 256, 256, 0.3);
    width: fit-content;
  }
}

.image-slide2 {
  color: #222;
  font-weight: bold;
}

@media (max-width: 700px) {
  .image-slide3 {
    height: 50vh;
    width: 100vw;
    background-image: url('../assets/foto05.JPG');
    background-size: cover;
    background-position-y: -150px;
    background-repeat: no-repeat;
    opacity: 0.7;
  }

  .image-slide3 p {
    font-size: 16px;
    padding: 4px;
    background-color: rgba(256, 256, 256, 0.3);
    width: fit-content;
  }
}

@media (min-width: 768px) {
  .image-slide3 {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/foto05.JPG');
    background-size: cover;
    background-position-y: -1000px;
    opacity: 0.7;
  }

  .image-slide3 div {
    padding: 16px;
  }

  .image-slide3 p {
    font-size: 16px;
    padding: 4px;
    background-color: rgba(256, 256, 256, 0.3);
    width: fit-content;
  }
}

.image-slide3 {
  color: #222;
  font-weight: bold;
}
