/* .section-placeholder {
  height: 100vh;
  width: 100vw;
  background-color: gray;
} */

@media (max-width: 700px) {
  .image-slide1 {
    height: 50vh;
    width: 100vw;
    background-image: url('../assets/foto01.jpg');
    opacity: 0.7;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: 50%; */
    /* background-color: gray; */
  }
}

@media (min-width: 768px) {
  .image-slide1 {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/foto01.jpg');
    background-size: cover;
    background-position-y: -260px;
    opacity: 0.7;
  }
}



/* .image-slide1 {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/foto01.jpg');
  background-size: cover;
  background-position-y: -260px;
  opacity: 0.7;
} */


.image-slide2 {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/foto03.JPG');
  background-size: cover;
  background-position-y: -138px;
  opacity: 0.7;
}

.image-slide3 {
  height: 100vh;
  width: 100vw;
  background-image: url('../assets/foto05.JPG');
  background-size: cover;
  background-position-y: -1000px;
  /* background-repeat: no-repeat; */
}
