

@media (max-width: 700px) {
  .half {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .half .column {
    margin: 16px;
    font-size: 16px;
  }

  .about-full {
    display: none;
  }

  .about-mobile {
    /* border: 1px solid red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* padding: 40px; */
  }
}

@media (min-width: 768px) {
  .half {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .half .column {
    margin: 40px;
    font-size: 36px;
  }

  .about-full {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }

  .about-mobile {
    display: none;
  }
}

/* .half {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.column {
  display: flex;
  flex-direction: column;
}

.half .column p {
  text-align: justify;
  text-justify: inter-word;
}

.placeholder-img {
  background-image: url('../assets/foto02.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: gray; */
  width: 80%;
  height: 60%;
}

.placeholder-img p {
  font-size: 12px;
  margin-left: 8px;
  /* padding: 4px;
  background-color: rgba(256, 256, 256, 0.3);
  width: fit-content; */
}

.placeholder-img-alt {
  background-image: url('../assets/foto02.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: gray; */
  /* border: 1px solid red; */
  width: 90%;
  height: 40%;
  /* border: 1px solid red; */
  background-position-y: 50%;
  /* height: auto; */
}
