.circle-activities {
  display: flex;
  flex-direction: row;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

@media (max-width: 767px) {
  .third {
    display: none;
  }

  .seventh-lines {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 40px;
  }

  .circle-activities-img {
    display: none;
  }

  .lines {
    font-size: 10px;
  }

  .lines ul li {
    list-style: none;
    text-align: right;
  }

  .lines a {
    text-align: right;
    text-decoration: none;
    color: black;
    transition: ease-in-out 720ms;
  }

  .lines a:hover {
    color: black;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .third {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seventh-lines {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 40px;
  }

  .circle-activities-img {
    border-radius: 50%;
    background-image: url('../assets/foto04.JPG');
    background-position: 50%;
    background-size: cover;
    width: 440px;
    height: 440px;
  }

  .lines {
    margin: 40px;
    font-size: 24px;
  }

  .lines ul li {
    list-style: none;
    text-align: right;
    line-height: 80px;
  }

  .lines a {
    text-align: right;
    text-decoration: none;
    color: black;
    transition: ease-in-out 720ms;
  }

  .lines a:hover {
    color: black;
    font-size: 26px;
  }
}
